<% layout("/layouts/boilerplate")%>
    <div class="row mt-3">

        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a new listing</h3>

            <form method="post" action="/listings" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>

                   <div class="invalid-feedback">Please entre title</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="entre description"
                        class="form-control" required></textarea>
                        <div class="invalid-feedback">Please entre short description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image link </label>
                    <input type="text" name="listing[image]" placeholder="entre image URL / link" class="form-control">

                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label"> Price </label>
                        <input   name="listing[price]" placeholder="1200" class="form-control" required >
                        <div class="invalid-feedback">Please entre valid Price</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country </label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">Country should be valid</div>

                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location </label>
                    <input type="text" name="listing[location]" placeholder="Pune,Maharastra" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>

                </div>
                <br> <br>

                <button class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>
 